In [1]:
#importing necessary libraries:

import pandas as pd

In [2]:
#To read csv file using pandas:

data = pd.read_csv("Iris.csv")

In [3]:
#To see first five rows of the dataframe:

data.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [4]:
#To see shape(rows, columns) of dataframe:

data.shape

(150, 6)

In [5]:
#To see last five rows of the dataframe:

data.tail()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [6]:
#To check missing values in the data:

data.isnull().sum()

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [7]:
#To see statistics of the data:

data.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [8]:
#To see unique classes in our output columns:

data["Species"].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [9]:
#Importing few necessary libraries:

from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

In [10]:
#To assign our independent variables and dependent variable into different data frames: 

X = data.drop(columns = ["Id","Species"], axis=1)
y = data["Species"]

In [11]:
#To split our data into training and testing dataset:

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, stratify=y, random_state=1)

In [12]:
#To check the shapes of our variables:

print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(120, 4) (30, 4) (120,) (30,)

In [13]:
#Building classification model using Random Forest:

model = RandomForestClassifier()

In [14]:
#Fitting the model:

model.fit(X_train, y_train)

RandomForestClassifier()

In [15]:
#Predicting the output variable for testing dataset:

y_pred = model.predict(X_test)

In [16]:
#To see accuracy on the test dataset:

print(accuracy_score(y_test, y_pred))

0.9666666666666667

In [17]:
#To see classification report:

print("Classification Report: ")
print(classification_report(y_pred, y_test))

Classification Report:
                 precision    recall  f1-score   support

    Iris-setosa       1.00      1.00      1.00        10
Iris-versicolor       1.00      0.91      0.95        11
 Iris-virginica       0.90      1.00      0.95         9

       accuracy                           0.97        30
      macro avg       0.97      0.97      0.97        30
   weighted avg       0.97      0.97      0.97        30

#### Here we get an accuracy as 96.66% on test data, which is considered good. Hence we can say our model is a good fit for the given dataset.